body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.form_header {
    text-align: left;
    padding-left:15%;
    padding-top: 5%;
}
.login_form{
    background-color: rgb(255, 255, 255);
    
}
form {
    padding-left: 15%;
    padding-right: 15%;
}
label {
    display: flex;
    justify-content:flex-start;

}
.mb-3 {
    margin-top: 5%;
}
.spacingg {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.btn {
    display: block;
    width:100%;
    margin-top: 5%;
}
.create_link {
    text-align: left;
    padding-top: 10%;
    
}
.bi {
    display: inline;
}
i {
    color: rgb(15,23,42);
}
.view2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 576px) { 
    .view1{
        display: block;
        width: 100%;
    }
    .spacingg {
        display: flex;
        flex-wrap: wrap;
    }
    .view2{
        display: none;
    }
 }


@media (max-width: 768px) { 
    .view1{
        display: block;
        width: 80%;
    }
    .view2{
        display: none;
    }
    .spacingg {
        display: flex;
        flex-wrap: wrap;
    }
}


@media (max-width: 992px) { 
    .spacingg {
        display: flex;
        flex-wrap: wrap;
    }
}


@media (max-width: 1200px) {  }